{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户项目管理中心</title>
    {% block title %}{% endblock %}
    <link rel="stylesheet" href="{% static "bootstrap-3.4.1/css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "font-awesome-4.7.0/css/font-awesome.min.css" %}"/>
    <link rel="stylesheet" href="{% static "web/css/manage_center.css" %}"/>

    {% block css %}{% endblock %}
</head>
<body>
<!--nav标签用于定义导航条,navbar-fixed-top 类可以让导航条固定在顶部,navbar-inverse类可以改变导航条的外观-->
<nav class="navbar navbar-default navbar-fixed-top">
    <!--container标签用于定义容器居中显示-->
    <div class="container-fluid">
        <!--navbar-header标签定义导航条头部-->
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'web:index' %}">BugTracer</a>
            <!--
            class="navbar-toggle collapsed"：
                navbar-toggle 类是Bootstrap中用于创建导航栏切换按钮的类。
                collapsed 类表示按钮处于折叠状态，默认隐藏导航栏内容。
            data-toggle="collapse"：激活Bootstrap的折叠插件，点击按钮时会触发折叠效果。
            data-target="#fold_content"：指定要控制的折叠内容的ID，即导航栏中的可折叠部分。
            aria-expanded="false"：辅助技术（如屏幕阅读器）使用，表示当前按钮是否展开导航栏内容。
            -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#fold_content" aria-expanded="false">
                <!--折叠按钮汉堡图标-->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>


        <div class="collapse navbar-collapse" id="fold_content">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">项目</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">工作台</a></li>
                <li><a href="#">日历</a></li>
                <li><a href="#"> <i class="fa fa-bell-o" aria-hidden="true"></i> </a></li>
                <!--dropdown表示这是一个下拉菜单-->
                <li class="dropdown">
                    <!--
                    添加了dropdown-toggle类和data-toggle="dropdown"属性，用于激活Bootstrap的下拉菜单功能。
                    设置了role="button"以提高可访问性。
                    -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        {{ request.bugtracer.user.username }}</a>
                    <!--class="dropdown-menu"表示这是一个下拉菜单的内容。-->
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'web:index' %}">回到主页</a></li>
                        <li><a href="#">设置</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'web:logout' %}">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% block content %}{% endblock %}

<script src="{% static "jquery-3.5.1.min.js" %}"></script>
<script src="{% static "bootstrap-3.4.1/js/bootstrap.min.js" %}"></script>
{% block js %}{% endblock %}
</body>
</html>