.panel .panel-heading {
    display: flex; /* flex 布局 */
    flex-direction: row; /* 主轴方向为水平 */
    justify-content: space-between; /* 主轴两端对齐,首尾项分别靠住容器的两端 */
}

.breadcrumb {
    border-radius: 0;
    margin-bottom: 0;
}

.breadcrumb > .btn-link {
    padding: 0 5px;
    text-decoration: none;
    color: #337ab7;
}

.breadcrumb > .btn-link:hover {
    color: #23527c;
    text-decoration: underline;
}

.fa-folder {
    color: #f0ad4e;
    margin-right: 5px;
}

.table > tbody > tr > td {
    vertical-align: middle;
}