.navbar-default {
    background-color: rgb(46, 54, 67);  /* 导航栏背景颜色 */
    border-color: #e7e7e7  /* 导航栏边框颜色 */
}

.navbar-default .navbar-brand {  /* 导航栏品牌图标的文字颜色 */
    color: rgb(255, 255, 255);
    font-size:large;
}

.navbar-default .navbar-nav > li > a {  /* 导航栏菜单项的文字颜色 */
    color: rgb(200, 200, 200);
    font-size: medium;
}
