{% extends 'templates/base/manage_center.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'web/css/file.css' %}"/>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="panel panel-warning" style="margin-top: 25px">
            <div class="panel-heading">
                <!-- 添加导航路径 -->
                <div class="breadcrumb file-header-left" style="margin: 0; padding: 0; background-color: transparent;">
                    <a href="{% url 'web:file' project_id=request.bugtracer.project.id %}" class="btn btn-link">
                        <i class="fa fa-home" aria-hidden="true"></i> 根目录
                    </a>
                    {% for item in breadcrumb_list %}
                        <a href="{% url 'web:file' project_id=request.bugtracer.project.id %}?folder_id={{ item.id }}"
                           class="btn btn-link">
                            <i class="fa fa-caret-right"></i> {{ item.name }}
                        </a>
                    {% endfor %}
                </div>

                <div class="file-header-right">
                    <div class="btn-group">
                        <!-- 上传文件按钮 -->
                        <!-- 隐藏原生的文件输入框 -->
                        <input type="file" name="uploadFile" id="uploadFile" style="display: none;" multiple/>
                        <!-- 创建一个美化的按钮,这样用户看到的是美化的按钮，但实际操作的是原生的文件选择框 -->
                        <button class="btn btn-primary" onclick="document.getElementById('uploadFile').click()">
                            <i class="fa fa-upload"></i> 上传文件
                        </button>
                        <!-- 新建文件夹按钮 -->
                        <a type="button" data-toggle="modal" data-target="#add_edit_modal" data-whatever="新建文件夹"
                           class="btn btn-success">
                            <i class="fa fa-plus-circle"></i>新建文件夹
                        </a>
                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>名称</th>
                    <th>类型</th>
                    <th>大小</th>
                    <th>修改日期</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for item in file_list %}
                    <tr>
                        <td>
                            {% if item.file_type == 1 %}
                                <i class="fa fa-file" style="background-color: #AEAEAE"></i>
                                {{ item.name }}
                            {% else %}
                                <a href="{% url 'web:file' project_id=request.bugtracer.project.id %}?folder_id={{ item.id }}">
                                    <i class="fa fa-folder" style="color: #b58900"></i>
                                    {{ item.name }}
                                </a>

                            {% endif %}

                        </td>
                        <td>
                            {% if item.file_type == 1 %}
                                {{ item.file_extension }}
                            {% else %}
                                文件夹
                            {% endif %}
                        </td>
                        <td>
                            {% if item.file_type == 1 %}
                                {{ item.file_size }}
                            {% else %}

                            {% endif %}
                        </td>
                        <td>{{ item.update_datetime }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs"
                               data-toggle="modal"
                               data-target="#add_edit_modal"
                               data-whatever="编辑文件夹"
                               data-folder-id="{{ item.id }}"
                               data-folder-name="{{ item.name }}">
                                <i class="fa fa-edit"></i>编辑
                            </a>
                            <!--HTML中，id必须是唯一的,由于该a标签是循环生成的，因此不能设置id值 -->
                            <a class="btn btn-danger btn-xs delete_btn"
                               data-toggle="modal"
                               data-target="#deleteModal"
                               data-id="{{ item.id }}"
                               data-name="{{ item.name }}">
                                <i class="fa fa-trash"></i>删除
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="add_edit_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <form>
                        {% csrf_token %}
                        <!-- 在编辑文件夹时，我们会把当前文件夹的 ID 存储在隐藏表单中， -->
                        <!-- name属性通常是在服务器端通过 request.POST.get('folderId') 获取值时使用的键名
                        如果使用 AJAX 手动构建数据发送（而不是表单自动提交），确实可以省略 name 属性-->
                        {#                       <input type="hidden" id="folderId" name="folderId">#}
                        <input type="hidden" id="folderId">
                        {% for field in form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                <span class="error-msg"></span>
                            </div>
                        {% endfor %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="submit_btn">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 删除确认模态框 -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <i class="fa fa-exclamation-triangle text-warning"></i>
                        提示
                    </h4>
                </div>
                <div class="modal-body">
                    <div>
                        确定要删除文件夹 "<span id="folderToDelete"></span>" 吗？
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" id="confirmDelete">
                        <i class="fa fa-trash"></i> 确定删除
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        const file_add_url = "{% url 'web:file_add' project_id=request.bugtracer.project.id %}";
        const file_edit_url = "{% url 'web:file_edit' project_id=request.bugtracer.project.id %}";
        const file_delete_url = "{% url 'web:file_delete' project_id=request.bugtracer.project.id %}";
        $(function () {
            initmodal();  // 根据触发按钮改变模态内容
            bindAddEditFolder();  // 绑定新建添加文件夹事件
            bindDeleteFolder();  // 绑定删除文件夹事件
        })

        function initmodal() {
            // 监听ID为'add_edit_modal'的模态框的显示事件
            $('#add_edit_modal').on('show.bs.modal', function (event) {
                // 获取当前模态框的jQuery对象
                let modal = $(this)
                // 获取触发模态框的元素（通常是按钮）
                let button = $(event.relatedTarget)

                // 获取数据（当前点击按钮所操作文件夹的数据）
                let recipient = button.data('whatever')
                let folderId = button.data('folder-id');  // 只有编辑模式才会有folderId
                let folderName = button.data('folder-name');  // 只有编辑模式才会有folderName

                // 设置模态框标题
                modal.find('.modal-title').text(recipient)
                // 重置表单（获取jQuery对象（所有的form元素）中的第一个原生DOM元素）
                modal.find('form')[0].reset();
                // 清除错误信息
                modal.find('.error-msg').text('');

                if (folderId) {  // 编辑模式
                    modal.find('#folderId').val(folderId);  // 将ID存储在隐藏字段中
                    modal.find('#id_name').val(folderName);  // 设置name字段输入框的值为当前文件夹的名称
                } else {  // 新建模式
                    modal.find('#folderId').val('');
                    modal.find('#id_name').val('');
                }

            })
        }

        function bindAddEditFolder() {
            $('#submit_btn').click(function () {
                let folderId = $('#folderId').val() || ''; // 获取在隐藏字段中的ID
                let url = folderId ? file_edit_url : file_add_url;  // 当前请求地址
                let method = folderId ? 'PUT' : 'POST';  // 编辑模式：PUT，新增模式：POST

                // 根据请求类型决定如何处理数据
                let ajaxOptions = {
                    url: url,
                    type: method,
                    headers: {
                        // 添加 CSRF 令牌
                        "X-CSRFToken": $('[name="csrfmiddlewaretoken"]').val()
                    },
                    dataType: "json",
                    success: function (data) {
                        if (data.status) {
                            $('#add_edit_modal').modal('hide');
                            window.location.reload();
                        } else {
                            $.each(data.error, function (key, value) {
                                $("#id_" + key).next().text(value[0]);
                            })
                        }
                    }
                };

                if (method === 'PUT') {
                    // PUT 请求时构造 JSON 数据
                    ajaxOptions.headers["Content-Type"] = "application/json";  // 设置请求体中的数据格式为JSON
                    ajaxOptions.data = JSON.stringify({  // 将数据转换为JSON字符串
                        'folderId': folderId,
                        'name': $('#id_name').val() || ''
                    });
                } else {
                    // POST 请求时使用表单数据
                    let formData = new FormData();  // 创建 FormData 对象
                    formData.append('name', $('#id_name').val() || '');  // 将表单中的name字段值添加到FormData对象中
                    ajaxOptions.data = formData;  // 配置ajaxOptions，设置data为FormData对象
                    // POST 请求不需要设置 Content-Type，让浏览器自动处理数据格式
                    ajaxOptions.processData = false;
                    ajaxOptions.contentType = false;
                }
                $.ajax(ajaxOptions);
            })
        }

        function bindDeleteFolder() {
            let deleteId = null;

            // 点击删除按钮
            $('.delete_btn').click(function () {
                deleteId = $(this).data('id');  // 获取当前删除的文件夹ID
                $('#folderToDelete').text($(this).data('name'));  // 设置要删除的文件夹名称
                // 移除了重复的 modal('show') 调用，因为 Bootstrap 的 data-toggle="modal" 已经会处理模态框的显示
                // $('#deleteModal').modal('show');
            });

            // 确认删除
            $('#confirmDelete').click(function () {
                // $btn 是一个 jQuery 对象，它引用了当前被选中的按钮元素
                // 禁用当前按钮，并将按钮文本更改为带有旋转图标的“删除中...”
                let $btn = $(this).prop('disabled', true)
                    .html('<i class="fa fa-spinner fa-spin"></i> 删除中...');

                $.ajax({
                    url: file_delete_url,
                    type: 'POST',
                    data: {
                        'folderId': deleteId,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function (res) {
                        if (res.status) {
                            $('#deleteModal').modal('hide');
                            showMessage('success', '删除成功');
                            // 让用户能看到"删除成功"的提示消息（如果立即刷新页面，提示消息可能还没来得及看到就消失了）
                            setTimeout(() => window.location.reload(), 1500);
                        } else {
                            showMessage('error', res.error || '删除失败');
                            $btn.prop('disabled', false)
                                .html('<i class="fa fa-trash"></i> 确定删除');
                        }
                    }
                });
            });
        }

        // 显示消息提示
        function showMessage(type, msg) {
            // 1. 根据type参数决定使用哪个图标和样式类
            let icon = type === 'success' ? 'check-circle' : 'times-circle';  // 设置图标(对钩：叉号)
            let alertClass = type === 'success' ? 'success' : 'danger';  // 设置样式（红色：绿色）
            // left: 50% - 将元素的左侧定位到视窗宽度的50%处
            // transform: translateX(-50%) - 只在X轴（水平方向）上向左移动自身宽度的50%
            // .appendTo('body')：将消息框添加到页面
            // .delay(1500)：停留1.5秒
            // .fadeOut()：使用淡出动画效果
            // .remove()：动画完成后删除元素
            $(`<div class="alert alert-${alertClass}" style="position: fixed; top: 30px; left: 50%;
transform: translateX(-50%); text-align: center; z-index: 9999;">
<i class="fa fa-${icon}"></i> ${msg}
</div>`).appendTo('body').delay(1500).fadeOut(function () {
                $(this).remove();
            });
        }
    </script>
{% endblock %}