{% extends 'templates/base/manage_center.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'web/css/file.css' %}"/>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="panel panel-warning" style="margin-top: 25px">
            <div class="panel-heading">
                <div>

                </div>
                <div>
                    <a type="button" data-toggle="modal" data-target="#mymodal" data-whatever="新建文件夹"
                       class="btn btn-success btn-sm">
                        <i class="fa fa-plus-circle"></i>新建文件夹
                    </a>
                </div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>名称</th>
                    <th>类型</th>
                    <th>大小</th>
                    <th>修改日期</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for item in file_list %}
                    <tr>
                        <td>
                            {% if item.file_type == 1 %}
                                <i class="fa fa-file" style="background-color: #AEAEAE"></i>
                                {{ item.name }}
                            {% else %}
                                <a href="{% url 'web:file' project_id=request.bugtracer.project.id %}?folder={{ item.id }}">
                                    <i class="fa fa-folder" style="color: #b58900"></i>
                                    {{ item.name }}
                                </a>

                            {% endif %}

                        </td>
                        <td>
                            {% if item.file_type == 1 %}
                                {{ item.file_extension }}
                            {% else %}
                                文件夹
                            {% endif %}
                        </td>
                        <td>
                            {% if item.file_type == 1 %}
                                {{ item.file_size }}
                            {% else %}

                            {% endif %}
                        </td>
                        <td>{{ item.update_datetime }}</td>
                        <td>
                            <a>编辑</a>
                            <a>删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <form>
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                <span class="error-msg"></span>
                            </div>
                        {% endfor %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="addfolder_btn">确定</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(function () {
            initmodal();  // 根据触发按钮改变模态内容
            addfolder();  // 添加文件夹
        })

        function initmodal() {
            // 监听ID为'mymodal'的模态框的显示事件
            $('#mymodal').on('show.bs.modal', function (event) {
                // 获取触发模态框的元素（通常是按钮）
                let button = $(event.relatedTarget)
                // 获取按钮上data-whatever属性的值
                let recipient = button.data('whatever')
                // 获取当前模态框的jQuery对象
                let modal = $(this)
                // 设置模态框标题
                modal.find('.modal-title').text(recipient)

                modal.find('form')[0].reset();  // 重置表单（获取jQuery对象（所有的form元素）中的第一个原生DOM元素）
                modal.find('.error-msg').text('');  // 清除错误信息
            })
        }

        function addfolder() {
            $('#addfolder_btn').click(function () {
                $.ajax({
                    url: location.href,  // 当前请求地址
                    type: "POST",
                    data: {
                        'name': $('#id_name').val(),
                        'csrfmiddlewaretoken': '{{ csrf_token }}'  // 将Django生成的CSRF令牌（csrf_token）添加到请求数据中
                    },
                    dataType: "json",
                    success: function (data) {
                        if (data.status) {
                            alert('添加成功')
                        } else {
                            // 表单校验失败，显示错误信息
                            $.each(data.error, function (key, value) {
                                $("#id_" + key).next().text(value[0]);
                            })
                        }
                    }
                })
            })

        }
    </script>
{% endblock %}