{% extends 'templates/base/manage_center.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'web/css/wiki.css' %}"/>
    <link rel="stylesheet" href="{% static 'plugin/editor.md-master/css/editormd.preview.min.css' %}"/>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading" style="font-weight: bold; font-size: 16px">
                <div>
                    <i class="fa fa-book"></i>wiki项目文档
                </div>
                <div class="function">
                    <!--点击超链接发送的都是get请求--->
                    <a type="button"
                       class="btn btn-success btn-sm"
                       href="{% url 'web:wiki_add' project_id=request.bugtracer.project.id %}">
                        <i class="fa fa-plus-circle"></i>新建文档
                    </a>
                    {% if wiki_obj %}
                        <a type="button"
                           class="btn btn-info btn-sm"
                           href="{% url 'web:wiki_edit' project_id=request.bugtracer.project.id wiki_id=wiki_obj.id %}">
                            <i class="fa fa-edit"></i>编辑文档
                        </a>
                        <a type="button"
                           class="btn btn-danger btn-sm"
                           href="{% url 'web:wiki_delete' project_id=request.bugtracer.project.id wiki_id=wiki_obj.id %}">
                            <i class="fa fa-trash"></i>删除文档
                        </a>
                    {% endif %}
                    {#                    通过弹出框中删除文档#}
                    {#                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteModal">#}
                    {#                        <i class="fa fa-trash"></i>删除文档#}
                    {#                    </button>#}
                </div>
            </div>
            <div class="panel-body">
                <div class="col-md-2 title">
                    <ul id="catalog">

                    </ul>
                </div>
                <div class="col-md-10 content">
                    {% if wiki_obj %}
                        <div id="preview_editor">
                            <!--据HTML规范，每个表单输入元素都应该有一个关联的 <label>，以提高可访问性和用户体验。
                            缺少 <label> 可能导致屏幕阅读器等辅助工具无法正确识别和描述该输入框。-->
                            <label for="wiki_content">文档内容:</label>
                            <!--textarea标签内的内容前面有空格和换行符,这些额外的空白字符会被当作内容的一部分，
                            导致Markdown解析时将其视为代码块,要解决这个问题，应该将内容紧贴着textarea标签 -->
                            <textarea id="wiki_content">{{ wiki_obj.content }}</textarea>
                        </div>
                    {% else %}
                        <h4>《{{ request.bugtracer.project.project_name }}》文档库</h4>
                        <a href="{% url 'web:wiki_add' project_id=request.bugtracer.project.id %}">
                            <i class="fa fa-plus-circle"></i>新建文档
                        </a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        /*
      核心库
          editormd.min.js：Editor.md 的主库文件，提供Markdown编辑器的主要功能。
      依赖库
          marked.min.js：用于解析和渲染Markdown文本。
          prettify.min.js：用于语法高亮显示代码块。
          raphael.min.js：用于绘制矢量图形，支持图表和图示生成。
          underscore.min.js：提供函数式编程的支持工具。
          sequence-diagram.min.js：用于生成序列图。
          flowchart.min.js：用于生成流程图。
          jquery.flowchart.min.js：基于jQuery的流程图插件，增强Editor.md的图表功能。

      */
    </script>
    <script src="{% static 'plugin/editor.md-master/editormd.min.js' %}"></script>
    <script src="{% static 'plugin/editor.md-master/lib/marked.min.js' %}"></script>
    <script src="{% static 'plugin/editor.md-master/lib/prettify.min.js' %}"></script>
    <script src="{% static 'plugin/editor.md-master/lib/raphael.min.js' %}"></script>
    <script src="{% static 'plugin/editor.md-master/lib/underscore.min.js' %}"></script>
    <script src="{% static 'plugin/editor.md-master/lib/sequence-diagram.min.js' %}"></script>
    <script src="{% static 'plugin/editor.md-master/lib/flowchart.min.js' %}"></script>
    <script src="{% static 'plugin/editor.md-master/lib/jquery.flowchart.min.js' %}"></script>

    <script>
        // 获取项目文档详细内容的路径
        const wiki_detail_url = "{% url 'web:wiki' project_id=request.bugtracer.project.id %}";
        $(function () {
            initCatalog();  // 当body加载完成之后自动执行函数
            initPreviewMarkdown();  // 初始化编辑器插件
        })

        function initCatalog() {
            // 待优化：获取文档目录应该通过用户点击文档一步步请求获取该文档下的每一级的文档，而不是一次性展示所有的文档目录
            $.ajax({
                url: "{% url 'web:wiki_catalog' project_id=request.bugtracer.project.id %}",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    if (data.status) {
                        $.each(data.data, function (index, item) {
                            // 项目文档详细内容的路径+参数
                            let href = wiki_detail_url + '?detail_id=' + item.id;
                            // 创建li标签，并设置id为‘id_文档id‘，其下面添加a标签，文本为item.title，又在其下面添加ul标签
                            const li = $("<li>").attr("id", 'id_' + item.id).append($('<a>').text(item.title).attr('href', href)).append($('<ul>'));
                            if (item.father_id) {
                                // 在父级li标签的子元素ul标签中添加子级li标签
                                // 当父级li标签删除时，子级标签由于找不到
                                $("#id_" + item.father_id).children("ul").append(li)
                            } else {
                                // 在根目录下中添加li标签
                                $("#catalog").append(li)
                            }
                        })
                    } else {
                        alert('fuck');
                    }
                }
            })
        }

        function initPreviewMarkdown() {
            // 将Markdown文本解析为HTML并渲染到指定元素中
            editormd.markdownToHTML("preview_editor", {
                // 默认情况下，Markdown 渲染器会将 HTML 标签作为普通文本处理，而不会解析为 HTML 元素。
                // htmlDecode 的值是一个字符串，包含你希望解析的 HTML 标签名，多个标签名之间用逗号分隔
                // style：允许解析和渲染内联样式或 <style> 标签内的 CSS 样式。
                // script：允许解析和渲染 JavaScript 代码块。需要注意的是，启用此选项可能会带来安全风险（如 XSS 攻击），因此应谨慎使用。
                // iframe：允许解析和渲染嵌入的内容（如视频、地图等）。同样，这也可能带来安全风险
                htmlDecode: "style, script, iframe"
            });
        }
    </script>
{% endblock %}