{% extends 'templates/base/manage_center.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'web/css/wiki.css' %}"/>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading" style="font-weight: bold; font-size: 16px">
                <div>
                    <i class="fa fa-book"></i>wiki项目文档
                </div>
                <div class="function">
                    <!--点击超链接发送的都是get请求--->
                    <a type="button"
                       class="btn btn-success btn-sm"
                       href="{% url 'web:wiki_add' project_id=request.bugtracer.project.id %}">
                        <i class="fa fa-plus-circle"></i>新建文档
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-md-2 title">
                    <ul id="catalog">

                    </ul>
                </div>
                <div class="col-md-10 content">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                <!--模板渲染时，Django会根据表单字段自动生成唯一的ID,格式为id_<field_name>-->
                                <!--label标签的for属性与input标签的id属性保持一致，这样点击label标签就可以选中对应的input标签--->
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                <span class="error-msg">{{ field.errors.0 }}</span>
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">保存</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        // 获取项目文档详细内容的路径
        const wiki_detail_url = "{% url 'web:wiki' project_id=request.bugtracer.project.id %}";
        $(function () {
            initCatalog();  // 当body加载完成之后自动执行函数
        })

        function initCatalog() {
            // 待优化：获取文档目录应该通过用户点击文档一步步请求获取该文档下的每一级的文档，而不是一次性展示所有的文档目录
            $.ajax({
                url: "{% url 'web:wiki_catalog' project_id=request.bugtracer.project.id %}",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    if (data.status) {
                        $.each(data.data, function (index, item) {
                            // 项目文档详细内容的路径+参数
                            let href = wiki_detail_url + '?detail_id=' + item.id;
                            // 创建li标签，并设置id为‘id_文档id‘，其下面添加a标签，文本为item.title，又在其下面添加ul标签
                            const li = $("<li>").attr("id", 'id_' + item.id).append($('<a>').text(item.title).attr('href', href)).append($('<ul>'));
                            if (item.father_id) {
                                // 在父级li标签的子元素ul标签中添加子级li标签
                                $("#id_" + item.father_id).children("ul").append(li)
                            } else {
                                // 在根目录下中添加li标签
                                $("#catalog").append(li)
                            }
                        })
                    } else {
                        alert('fuck');
                    }
                }
            })
        }
    </script>
{% endblock %}