<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">项目<i class="fa fa-caret-down"
                                                                                  aria-hidden="true"></i></a>
    <ul class="dropdown-menu">
        <li style="background-color: #66afe9"><i class="fa fa-plus" aria-hidden="true"></i>我创建的项目</li>
        {% for project in create %}
            <li><a href="{% url 'web:dashboard' project_id=project.id %}">{{ project.project_name }}</a></li>
        {% endfor %}
        <li role="separator" class="divider"></li>
        <li style="background-color: #67b168"><i class="fa fa-handshake-o" aria-hidden="true"></i>我参与的项目</li>
        {% for member in join %}
            <li><a href="{% url 'web:dashboard' project_id=member.project.id %}">{{ member.project.project_name }}</a>
            </li>
        {% endfor %}
        <li role="separator" class="divider"></li>
        <li style="color: slategray"><a href="{% url 'web:project' %}">所有项目</a></li>
    </ul>
</li>